

        /* styles first intended for node & edge info tables:
         *   app/views/ ** /index, home, show                                 */
table {
  border-collapse: collapse;
}

th {
  text-align: left;
}

td {
  vertical-align: top;
  padding-bottom: 1.5ex;
  padding-left: 4px;
  padding-right: 2px;
}

.edgecolumn {
  border-width: thin;
  border-color: black;
  border-style: none solid;
}


        /* used for input controls & matching instruction text                */
p.inputpara {
  padding-bottom: 0;
  margin-bottom: 0;
}
p.directions {
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 2ex;
  font-size: 80%;
}


        /* used for informative-text highlighting in app/views/nodes/new      */
.titleSelectedItemDescription {
  font-weight: bold;
  text-decoration: underline;
}

.bodySelectedItemDescription {
  font-weight: bold;
}

.helpTextFlagged {
  font-weight: bold;
  color: red;
}

