
/* color palette:
  content background:      white
  page background:         almost-white blue     #f8f8ff
  in-content divider:      very light blue       #e8e8ff
  active area background:  light blue            #d0d0ff
  content border:          2nd-darkest blue      #b0b0ff
                           dk blue               #040460
*/


        /* global settings */
body {
  color: black;
  font-family: verdana, georgia, "times new roman", arial, helvetica, sans-serif;
  font-size: small;
  font-size-adjust: none;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: normal;

  background-color: #f8f8ff;
}
div {
  overflow: hidden;
}
div#fancybox-outer {                /* but don't clip div from fancybox.js */
  overflow: visible;
}
a:link img,
a:active img,
a:visited img {
  border: 0;
}




        /* settings for the basic division of pages into areas and boxes */
.content {
  padding: 2px;
  background-color: white;
  border-top: solid 1px #b0b0ff;
}
.box {
  padding: 0;
  background-color: white;
  border: solid 1px #b0b0ff;
  margin-top: 0;
  margin-bottom: 0.7ex;
}
.noncontent {
  margin: 6px;
  padding: 2px;
  background-color: #f8f8ff;
  border: none;
}
.headline {
  font-size: 140%;
  margin-left: 2em;
  margin-top: 2ex;
}
.headline:first-child {
  margin-top: 0;
}
.fine-print {
  font-size: 60%;
  color: #040460;
  text-align: center;
}
.blue-text {
  color: #040460;
}
.image-in-text {
  height: 1.9ex;
  position: relative;
  top: 0.25ex;
}
hr {
  width: 62%;
  height: 1px;
  border: 0px solid #b0b0ff;
  text-align: center;
  color: #b0b0ff;
  background-color: #b0b0ff;
}


        /* set apart stuff that is in development */
.unimplemented {
  font-style: italic;
}
p.unimplemented {
  padding-left: 0.3em;
  padding-right: 0.3em;
}


        /* "universal special cases" .... or something like that */
p {
  margin-top: 0;
}
table + p {   margin-top:    1.5em;  }
p + table {   margin-bottom: 1.5em;  }


        /* styles first intended for node & edge info tables:
         *   app/views/ ** /index, home, show                                 */
table {
  border-collapse: collapse;
}

th {
  text-align: left;
}

td {
  vertical-align: top;
  padding-bottom: 1.5ex;
  padding-left: 4px;
  padding-right: 2px;
}

.edgecolumn {
  border-width: thin;
  border-color: #b0b0ff;
  border-style: none solid;
}
.dividerrow {
  border-bottom: 1px solid #e8e8ff;
}

.tight-table td {
  margin: 0;
  padding: 0;
}
.tight-table th {
  margin: 0;
  padding: 0;
}




        /* used for input controls & matching instruction text                */
p.inputpara {
  padding-bottom: 0;
  margin-bottom: 0;
}
p.directions {
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 2ex;
  font-size: 80%;
  line-height: normal;
}


        /* used for informative-text highlighting in app/views/nodes/new      */
.titleSelectedItemDescription {
  font-weight: bold;
  text-decoration: underline;
}

.bodySelectedItemDescription {
  font-weight: bold;
}

.helpTextFlagged {
  font-weight: bold;
  color: #e80000;
}

.confirmationTextInvisible {
  display: none;
}

.confirmationTextShow {
  display: inline;
  color: #6794ff;
}

.activeButton {
  color: black;
  background-color: #d0d0ff;
}
.inactiveButton {
  color: #d0d0ff;
  background-color: #ffffff;
}

.inactiveLink {
  font-size: 80%
}
