<%
# WontoMedia - a wontology web application
# Copyright (C) 2009 - Glen E. Ivey
#    www.wontology.com
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License version
# 3 as published by the Free Software Foundation.
#
# This program is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program in the file COPYING and/or LICENSE.  If not,
# see "http://www.gnu.org/licenses/".
%>


<h1>New edge</h1>

<% form_for(@edge) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "spo_select_controls",
               :locals => {
                 :f => f, :edge => @edge,
                 :nouns => @nouns, :verbs => @verbs
               } %>
  <p><%= f.submit 'Create' %></p>
<% end %>

<%= link_to 'Back', edges_path %>
