<%
# WontoMedia - a wontology web application
# Copyright (C) 2010 - Glen E. Ivey
#    www.wontology.com
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License version
# 3 as published by the Free Software Foundation.
#
# This program is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program in the file COPYING and/or LICENSE.  If not,
# see "http://www.gnu.org/licenses/".
%>


    <style type="text/css">
      #intro-text-container p {
        font-size: 120%;
      }
    </style>
    <div id="intro-text-container">
      <p>

<tt>wontology.org</tt> is a <i>w</i>iki-<i>ontology</i>: publicly
editable information in lists, trees, hierarchies, and relationships.
<b>You are welcome to experiment with the system and its data</b>, to add
new information, or to expand or edit what is already present.  For more
information, see

<a href="http://wiki.wontology.org/wiki/help.php?title=WmHelp:AboutWontologyOrg" target="_blank">About wontology.org</a>,

<a href="http://wiki.wontology.org/wiki/help.php?title=WmHelp:InformationAsRelationships" target="_blank">Information as Relationships</a>,

<a href="http://wiki.wontology.org/wiki/help.php?title=WmHelp:WontologyConcepts" target="_blank">Wontology Concepts</a>, and

<a href="http://wiki.wontology.org/wiki/help.php?title=WmHelp:NamingConventions" target="_blank">Naming Conventions</a>.

This wontology contains information for many different subject areas.  You
can simply browse from the links below, or start from

<a href="http://wiki.wontology.org/wiki/help.php?title=WmHelp:BrowsingAWontology" target="_blank">Browsing a Wontology</a>.

      </p><p>

Please contact us on our
<a href="http://rubyforge.org/forum/?group_id=7903">forum</a> or
<a href="http://rubyforge.org/mail/?group_id=7903">email list</a>.

      </p><p>

There are also

<a href="http://wiki.wontology.org/wiki/help.php?title=WmHelp:Tutorials" target="_blank">several tutorials</a>

("<a href="http://wiki.wontology.org/wiki/help.php?title=WmHelp:Tutorial:CreatingAList" target="_blank">Creating a simple list</a>,"

"<a href="http://wiki.wontology.org/wiki/help.php?title=WmHelp:Tutorial:CreatingAHierarchy" target="_blank">Creating a hierarchy</a>,"

<a href="http://wiki.wontology.org/wiki/help.php?title=WmHelp:Tutorials" target="_blank">etc.</a>)

and a <a href="http://wiki.wontology.org/wiki/help.php?title=WmHelp:Glossary" target="_blank">glossary</a>.

      </p>
    </div>
