<%
# WontoMedia - a wontology web application
# Copyright (C) 2010 - Glen E. Ivey
#    www.wontology.com
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License version
# 3 as published by the Free Software Foundation.
#
# This program is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program in the file COPYING and/or LICENSE.  If not,
# see "http://www.gnu.org/licenses/".
%>


<% unless @this_is_non_information_page or ENV['RAILS_ENV']=='test' %>
  <% if WontoMedia.ads.amazon and
        WontoMedia.ads.amazon.associateId %>

    <div id="block-amazon" class="box"
         style="width: 96%; text-align: center;">
      <script type="text/javascript"><!--
          // adjust for our fluid-width layout as possible
        divWidth = $('block-amazon').style.width;
        if (divResult = divWidth.match(/^([0-9.]+)%$/)){
          floatWidth = $('float-left').style.width;       // always a %
          floatWidth = parseFloat(floatWidth) / 100;

          divWidth = parseFloat(divResult[0]) / 100;
          divWidth = divWidth * floatWidth * window.innerWidth;
          amazon_ad_width = Math.floor(divWidth - 4).toString();
        }
        else if (divResult = divWidth.match(/^([0-9.]+)px$/)){
          amazon_ad_width = (parseInt(divResult[0]) - 4) + "px";
        }
        if (parseInt(amazon_ad_width) < 120)
          amazon_ad_product_images = "hide";

          // boiler-plate from Amazon
        amazon_ad_tag = "<%= WontoMedia.ads.amazon.associateId -%>";
        amazon_ad_width = "160";
        amazon_ad_height = "600";
        amazon_ad_logo = "hide";
        amazon_ad_border = "hide";
      //--></script>
      <script type="text/javascript"
              src="http://www.assoc-amazon.com/s/ads.js"></script>
    </div>

  <% end %>
<% end %>
