<%
# WontoMedia - a wontology web application
# Copyright (C) 2010 - Glen E. Ivey
#    www.wontology.com
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License version
# 3 as published by the Free Software Foundation.
#
# This program is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program in the file COPYING and/or LICENSE.  If not,
# see "http://www.gnu.org/licenses/".
%>


<% if defined? @glossary_help_entries %>
  <style>
    #block-glossary-help ul {
      padding: 0;
      margin: 0;
      margin-bottom: 0.5ex;
    }
    #block-glossary-help p {
      padding: 0;
      margin: 0;
      line-height: 85%;
    }
    #block-glossary-help li {
      margin-left: 1.5em;
    }
  </style>
  <% if @this_is_non_information_page %>
    <div id="block-glossary-help" class="box"
      style="width: 98%; text-align: left;">
  <% else %>
    <div id="block-glossary-help" class="noncontent"
      style="width: 19.5%; float: right; display: inline;">
  <% end %>

    <p style="font-size: 80%;">See the glossary entries for:</p>
    <ul>
      <% @glossary_help_entries.each do |link| %>
        <li><%= link_to link[0], WontoMedia.help_url_prefix + link[1],
          :class=>'iframeBox', :tabindex=>'0' -%></li>
      <% end %>
    </ul>

    <p style="font-size: 80%; padding-bottom: 1.4ex;">or the
      <%= link_to 'entire glossary',
            "#{WontoMedia.help_url_prefix}WmHelp:GlossaryAtoO",
            :target=>'_blank' -%>.</p>
  </div>
<% end %>
