<%
# WontoMedia - a wontology web application
# Copyright (C) 2010 - Glen E. Ivey
#    www.wontology.com
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License version
# 3 as published by the Free Software Foundation.
#
# This program is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program in the file COPYING and/or LICENSE.  If not,
# see "http://www.gnu.org/licenses/".
%>


<div id="block-footer" style="width: 100%; clear: both">
  <p class="fine-print">
    Copyright &copy; 2010, Glen E. Ivey &mdash;
    Powered by <%= link_to 'WontoMedia',
      'http://wontomedia.rubyforge.org/' %>
    &mdash; Software and page templates licensed under
    <%= link_to 'GNU AGPL v3',
      'http://www.gnu.org/licenses/agpl-3.0.html' %>
    &mdash; Page content licensed under <%= link_to 'GNU FDL v1.3',
      'http://www.gnu.org/licenses/fdl-1.3.html' %>
  </p>
</div>
